{% extends 'AppBundle:admin:layout.html.twig' %}


{% block body %}
    <h1>Organisation Edit</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button>Save</button>

    {{ form_end(form) }}

{% endblock %}

