{% extends 'AppBundle::index.html.twig' %}

{% block body %}
<h2>Downloads</h2>
<hr/>

<p><a href="http://l2hop.com/clients/Lineage2HF.torrent">Lineage 2 HF Torrent</a></p>
<p><a href="">EN Patch</a></p>
<p><a href="">RU Patch</a></p>

{% endblock %}
