{% extends 'AppBundle:admin:layout.html.twig' %}

{% block body %}
    <h1>Organisations list</h1>
    <hr>

    {% for user in users %}
        <h3><a href="{{ path('admin_editUser', { id: user.id }) }}">{{ user.email }}</a></h3>

    {% endfor %}

    <button href="{{ path('admin_addUser') }}">Add new user</button>


{% endblock %}

{% block title %}
    Organic Standard - Organisations
{% endblock %}