{% extends 'AppBundle:user:index.html.twig' %}

{% block body %}
    <h1>Article_edit</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button>Save</button>

    {{ form_end(form) }}

{% endblock %}

{% block title %}
    ARTICLE EDIT
{% endblock %}