{% extends 'AppBundle:user:index.html.twig' %}

{% block body %}
<h2>Hello, {{ user.email }}</h2>
    <hr>
    <a href="{{ path('user_organisation') }}">My Organisation {{ organisation.CompanyName }}</a>
{% endblock %}

{% block title %}
    Admin panel
{% endblock %}
