{% extends 'AppBundle:user:layout.html.twig' %}

{% block body %}
<h1>Hello, {{ user.email }}</h1>
    <hr>
    <a href="{{ path('user_organisation') }}">My Organisation {{ organisation.CompanyName }}</a>
{% endblock %}

{% block title %}
    Admin panel
{% endblock %}