{% extends 'AppBundle::security/account.html.twig' %}

{% block account_body %}
    <form action="" method="post">
        <label for="username">{{'Username'|trans}}</label>
        <input type="text" id="username" name="_username" value="" />

        <button type="submit">{{'Remind Me'|trans}}</button>
    </form>
{% endblock %}
