
{% extends 'AppBundle::index.html.twig' %}

{% block body %}
    <h2>Forgot password</h2>

    <form action="" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="" />

        <button type="submit">login</button>
    </form>


{% endblock %}

{% block title %}
    Login Form
{% endblock %}












