{% extends 'AppBundle:admin:index.html.twig' %}

{% block body %}
<h1>Hello, Admin</h1>
    <hr>
    <a href="{{ path('admin_article_list') }}">List of articles</a>
{% endblock %}

{% block title %}
    Admin panel
{% endblock %}