{% extends 'AppBundle::index.html.twig' %}

{% block body %}


<h2>RB list</h2>
<hr>

    <table>
        <tbody>
{% for rb in rb %}
    <tr>
<td><a href="{{ path('raid_boss', {id: rb.id}) }}">{% if rb.name.name is defined %} {{ rb.name.name }} {% else %} Unknown {% endif %}</a></td>
        <td>{% if rb.respawn_time != 0 %}<span style="color:red">Dead</span> {% else %} <span style="color:green">Alive</span> {% endif %}</td>
    </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block title %}
    RaidBoses list
{% endblock %}
