{% extends 'AppBundle::index.html.twig' %}

{% block body %}
    <h2>User Edit</h2>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button>Save</button>

    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Add User
{% endblock %}
