.fit-img {
  max-width: 100%;
  max-height: 100%;
}

.center-text {
  text-align: center;
}

hr {
  border: 0;
  height: 2px;
  background-color: white;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(5%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #fafafe;
}

@media only screen and (min-width: 768px) {
  body {
    height: initial;
    min-height: 100%;
  }
}

button {
  border: none;
}

input {
  margin: 2px;
  min-height: 18px;
  display: block;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #EBEAE6;
  border-color: #b0a08a;
}

.container {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 740px;
    max-width: 900px;
    margin: auto auto;
  }
}

.background-container {
  width: 100%;
  height: 100%;
  background-image: url(../img/background.jpg);
  background-repeat:no-repeat;
  background-position: top center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 40px;
  width: 100%;
  background-color: #2e231d;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #b0a08a;
}

.menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 6px;
  background-color: #2e231d;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: auto auto;
  padding: 5px 15px;
  background-color: #2e231d;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #b0a08a;
}

@media only screen and (min-width: 768px) {
  .content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 700px;
    width: 80%;
    margin: 140px auto;
    border-radius: 5px;
  }
}

button {
  margin: 5px;
  display: inline;
  color: #e2dfd7;
  width: 135px;
  height: 31px;
  text-align: center;
  background-image: url(../img/button.png);
}

.recaptcha-holder {
  display: inline;
  margin: 0 auto;
}

.border-pane {
  max-width: 180px;
  padding: 6px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e2dfd7;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.border-pane input {
  margin: 5px;
}

.border-pane label {
  margin: 5px;
}

.border-pane .row {
  margin: 3px 0px;
}

.border-pane input {
  margin:auto;
}

.lang-menu {
  display: inline;
  width: 15%;
  padding: 2px 4px 2px 4px;
}

.lang-item {
  width: 60px;
  height: 35px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: #e2dfd7;
}

p {
  color: #fffdf9;
}

pre {
  font-family: liberation-serif;
  color: #fffdf9;
}

li {
  color: #fffdf9;
}

.menu-item {
  color: #e2dfd7;
  display: inline-block;
  width: 135px;
  height: 31px;
  text-align: center;
  background-image: url(../img/button.png);
}

.menu-item.active {
  background-image: url(../img/active_button.png);
}

.navigation-menu {
  text-align: left;
  display: inline;
  width: 85%;
}

a {
  color: #e2dfd7;
  line-height: 28px;
  text-decoration: none;
  font-weight: bold;
}

.account-menu {
  margin: auto auto;
  text-align: center;
}

.account-menu-separator {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.account-menu-item {
  display: inline-block;
}

.account-menu-item.active {
   text-decoration: underline;
}
