{% extends 'AppBundle::index.html.twig' %}

{% block body %}


<h1>Castles and Clan Hals</h1>
<hr>

    <table class="table table-striped" >
        <thead class="thead-default">
        <tr class>
            <th>#</th>
            <th>
                Castle
            </th>
            <th>
                status
            </th>
        </thead>
        <tbody>
        {% set myVal = 1 %}
{% for castle in castle %}
    <tr>
        <th scope="row">{{ myVal }}</th>
        <td>{{ castle.name }}</a></td>
        <td>{% if castle.clanId  %}<span >castle.clanId.name</span> {% else %} <span style="color:green">Empty</span> {% endif %}</td>
    </tr>
    {% set myVal = myVal+1  %}
{% endfor %}
        </tbody>
    </table>



    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>
                Clan Halls
            </th>
            <th>
                status
            </th>
        </tr>
        </thead>
        <tbody>
        {% set myVal = 1 %}
        {% for ch in ch %}
            <tr>
                <th scope="row">{{ myVal }}</th>
                <td>{{ ch.name }}</a></td>
                <td>{% if ch.clanId %}<span >ch.clanId.name</span> {% else %} <span style="color:green">Empty</span> {% endif %}</td>
            </tr>
            {% set myVal = myVal+1  %}
    {% endfor %}
    </tbody>
    </table>

{% endblock %}


{% block title %}
   Castles and Clan Hals
{% endblock %}
